<%= link_to 'Back', root_path %>
<%= link_to 'My events', events_index_path(id: current_user.try(:id))  %>
<%= link_to 'All Events', events_index_path %>
<table>
  <% @events.each do |e| %>
  <tr>

    <td><h1><%= link_to  e.name , :action => 'show', :id => e.id %></h1>
      <% if current_user.try(:admin) %>
    <%= link_to 'Edit', :action => 'edit', :id => e.id%>
    <%= link_to 'Delete', {:action => 'destroy', :id => e.id}, method: :delete, class: 'delete'%>
      <% end %>
    </td>
  </tr>
  <% end %>

</table>